html{
  background-color: rgb(252, 112, 61);
  opacity: .8;
}
#body {
  overflow-y: hidden !important ;
  background-image: url('/images/bgRevmo2.jpg') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}



  .title{
    text-align: center;
    color: rgb(0, 0, 0); 
    font-weight: 600;
  }
  .subtitle{
    font-weight: 550;
    color:rgb(0, 0, 0)
  }
  a{
    text-decoration: none;
  }
  .sign_up{
    height:auto; 
    padding:3px 0; 
    color:azure;
  }
 nav{
  background-color: rgba(255, 255, 255, 0.1);
 }
 .label{
  text-align: left;
 }
 #forgot{
  text-align: left;
 }

 /* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: transparent;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  /* content: "&#10004;"; */
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  /* content: "&#10006;"; */
}