#body {
  overflow-y: hidden !important ;
  background-image: url('/images/bgRevmo2.jpg') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background: linear-gradient(rgb(255, 106, 0), rgb(182, 172, 172));
  font-family: Arial, Helvetica, sans-serif;
}


  .title{
    text-align: center;
    color: rgb(0, 0, 0); 
    font-weight: 600;
  }
  .subtitle{
    font-weight: 550;
    color:rgb(0, 0, 0)
  }
  a{
    text-decoration: none;
  }
  .sign_up{
    height:auto; 
    padding:3px 0; 
    color:azure;
  }
 nav{
  background-color: rgba(255, 255, 255, 0.1);
 }
 .label{
  text-align: left;
 }
 #forgot{
  text-align: left;
 }